<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="{{ url_for('static', filename='primer.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	</head>
	<body>
    <div class="container">
        <div class="columns">
            <div class="one-fifth column">
                <nav class="menu">
                    <h3 class="menu-heading">Fruitshow</h3>
                    <ul>
                        <li><a class="menu-item selected" href="#">Something</a></li>
                    </ul>
                </nav>
            </div>
            <div class="four-fifths column">
                <main>
                    {% block content %}
                    {% endblock %}
                </main>
            </div>
        </div>
    </div>
    </body>
</html>