{% extends "base.html" %}

{% block content %}

<ul>
    {% for topic in topics %}
    <li class="topic">
        <a href="{{ url_for('view_topic', topic_id=topic.id) }}">{{ topic.subject|safe }}</a>&nbsp;
        <em>{{ topic.first_post.name|safe }}</em>&nbsp;
        <span>({{topic.posts|length}} comments)</span>
    </li>
    {% endfor %}

    <div class="columns">
        <div class="one-half column">
            <a class="btn btn-sm btn-outline" href="{{ url_for('new_topic') }}">New Topic</a>
        </div>
        <div class="one-half column">
            <a class="btn btn-sm btn-outline" href="{{ url_for('archive') }}">Archive</a>
        </div>
  </div>
</ul>

{% endblock %}
