{% extends "base.html" %}

{% from "_macros.html" import render_field %}
{% block content %}

    <form method="POST" action="{{ url_for('new_topic') }}">
        <fieldset>
            <dl>
                {{ form.hidden_tag() }}
                {{ render_field(form.subject) }}
                {{ render_field(form.message) }}
                {{ render_field(form.name) }}
                {{ render_field(form.email) }}
                {{ render_field(form.remember_me) }}
            </dl>
            <button type="submit">Submit</button>
        </fieldset>
    </form>

{% endblock %}
